@import "base";

// fix ico
i.i_ico{
	// !!!
	position: static;
	top: 0;
}
// fix ico
i.i_bag{
	display: inline-block;
	@include sized-sprite($icons, i_bag);
}
.ch{
	display: inline-block;
	@include sized-sprite($icons, ch_active);
}
.st{
	display: inline-block;
	@include sized-sprite($icons, st);
}
.notif__middle{
	.st{
		display: inline-block;
		@include sized-sprite($icons, st_old);
	}
}
.notif__bottom{
	.st{
		display: inline-block;
		@include sized-sprite($icons, st_oldest);
	}
}
.he{
	display: inline-block;
	@include sized-sprite($icons, he);
}
.notif__middle{
	.he{
		display: inline-block;
		@include sized-sprite($icons, he_old);
	}
}
.notif__bottom{
	.he{
		display: inline-block;
		@include sized-sprite($icons, he_oldest);
	}
}
.ci{

}
.notif__middle{
	.ci{
		display: inline-block;
		@include sized-sprite($icons, ci_old);
	}
}
.notif__bottom{
	.ci{
		display: inline-block;
		@include sized-sprite($icons, ci_oldest);
	}
}
.i_count{
	padding: 3px 4px;
	background: #edf3f5;
	border-radius: 3px;
	font-family:"Open Sans Semibold";
	font-size: 10px;
	font-style: normal;
	color: #91a1aa;
	position: absolute;
	bottom: 0;
	right: 2px;
}
.i_refresh{
	@include sized-sprite($icons, i_refresh);
}
.i_close{
	@include sized-sprite($icons, i_close);
}
.i_load{
	@include sized-sprite($icons, i_load);
}
.i_arr{
	@include sized-sprite($icons, i_arr);
}
.i_help{
	@include sized-sprite($icons, i_help);
}
.i_clientMail{
	display: inline-block;
	vertical-align: middle;
	@include sized-sprite($icons, i_clientMail);
}
.i_clientAdd{
	display: inline-block;
	@include sized-sprite($icons, i_clientAdd);
}
.i_more{
	@include sized-sprite($icons, i_more);
	display: inline-block;
}
.i_moreAlt{
	@include sized-sprite($icons, i_moreAlt);
	display: inline-block;
}
.i_arr-red{
	@include sized-sprite($icons, i_arr-red);
	display: inline-block;
}
.i_arr-redSmall{
	i{
		@include sized-sprite($icons, i_arr-redSmall);
	}
}
.i_heart{
	@include sized-sprite($icons, i_heart);
	display: inline-block;
}
.i_bucks{
	@include sized-sprite($icons, i_bucks);
	display: inline-block;
}
.i_smile{
	@include sized-sprite($icons, i_smile);
	display: inline-block;
}
.i_four{
	@include sized-sprite($icons, i_four);
	display: inline-block;
}
.i_misc{
	@include sized-sprite($icons, i_misc);
	display: inline-block;
}
.i_chat{
	@include sized-sprite($icons,i_chat);
	display: inline-block;
}
.i_arr-b1{
	@include sized-sprite($icons, 'arr_b1');
	display: inline-block;
}
.not_ok{
	@include sized-sprite($icons, 'not_ok');
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.i_ok{
	@include sized-sprite($icons, 'ok_med');
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.i_mod{
	font-family:"Open Sans Bold";
	font-size: 11px;
	font-style: normal;
	vertical-align: top;
	line-height: 28px;
	color: #fff;
	padding: 0 9px 0 29px;
}
.i_modColor{
	color: #bad1d9;
}
.i_play{
	min-width: 28px;
	min-height: 28px;
	background: #93acba;
	border: 1px solid #879aa4;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #8da0ab;
		cursor: pointer;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, 'i_some-arrow');
		display: block;
		position: absolute;
		top: 7px;
		left: 9px;
	}
}
.i_stop{
	min-width: 28px;
	min-height: 28px;
	background: #93acba;
	border: 1px solid #879aa4;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #8da0ab;
		cursor: pointer;
	}
	&:after{
		content: "";
		width: 10px;
		height: 10px;
		background: #fff;
		border: 1px solid #879aa4;
		border-radius: 1px;
		display: block;
		position: absolute;
		top: 8px;
		left: 8px;
	}
}
.i_wtf{
	min-width: 28px;
	min-height: 28px;
	background: #f5f8fa;
	border: 1px solid #bad1d9;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #ebf1f4;
		cursor: pointer;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, 'wtf');
		position: absolute;
		top: 6px;
		left: 6px;
	}
}
.i_cross{
	min-width: 28px;
	min-height: 28px;
	background: #f5f8fa;
	border: 1px solid #bad1d9;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #ebf1f4;
		cursor: pointer;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, 'i_cross');
		position: absolute;
		top: 8px;
		left: 8px;
	}
}
.i_marker{
	display: inline-block;
	width: 10px;
	height: 10px;
	-webkit-border-radius: 50%;
	        border-radius: 50%;
	background: #ef785e;
	border: 1px solid #c14438;
}
.ii_arr{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #415865;
}
.ii_circle{
	width: 12px;
	height: 12px;
	border-radius: 7px;
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.ii_arr-green{
	width: 0px;
	height: 0px;
	display: inline-block;
	border-style: solid;
	border-width: 7px 0 7px 12px;
	border-color: transparent transparent transparent #9ec33b;
	&:hover{
		cursor: pointer;
	}
}
.ii_square-or{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #f2a92a;
	border: 1px solid #cd8200;
	&:hover{
		cursor: pointer;
	}
}
.ii_square-or_mod{
	background: #f8ebd2;
}
.circle-red{
	background: #ea5649;
	border: 1px solid #c2473b;
}
.circle-gray{
	color: #e5edf3;
	border: 1px solid #bcd2da;
}
.i_arr-r{
	@include sized-sprite($icons, ar_r);
	display: inline-block;
}
.i_arr-d{
	@include sized-sprite($icons, 'arr_b1');
	display: inline-block;
}
.money_r{
	@include sized-sprite($icons, money_r);
	display: inline-block;
}
.i_money-big{
	@include sized-sprite($icons, money_r-big);
	display: inline-block;
	margin-right: 4px;
}
.b{
	font-family:"Open Sans Semibold";
	font-size: 14px;
	color: #FFF;
	&:hover{
		cursor: pointer;
	}
}
.b_reset{
	height: 34px;
	line-height: 34px;
	padding: 0 19px;
	background: #91a1aa;
	border: 1px solid #7e8d95;
	border-radius: 3px;
}
.b_submit{
	height: 34px;
	line-height: 34px;
	padding: 0 19px;
	background: #9ec33b;
	border: 1px solid #8eb032;
	border-radius: 3px;
}
.b_dark-blue{
	padding: 0 15px;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	background: #a0b2bd;
	font-family:"Open Sans Semibold";
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	border: 1px solid #7e8d95;
	&:hover{
		background: #8cadc1;
	}
}

.tuning{
	width: 276px;
	height: 35px;
	line-height: 35px;
	display: inline-block;
	background: #f8fafb;
	border: 1px solid #bad1d9;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	font-family:"Open Sans Semibold";
	font-size: 14px;
	color: #627b89;
}
// fix nav
.nav{
	.active_not-after{
		a{
			&:after{
				content: "";
				background: none;
			}
		}
	}
	.active{
		a.no_arr{
			&:after{
				content:none;
			}
		}
	}
}
// conteiner
.conteiner{
	padding: 15px 20px;
	margin-bottom: 8px;
	border: 1px solid #bad1d9;
	border-radius: 3px;
	background: #FFF;
}
.conteiner_mod{
	padding: 15px 20px 0;
}
.conteiner_alt{
	background: transparent;
	padding: 0;
	border: none;
}
.conteiner_alt2{
		padding: 15px 20px 0;
}
.conteiner_white{
	background: #FFF;
}
.conteiner_profile{
	padding: 0px;
	border: none;
	@include box-shadow(inset 1px 1px 0 #bad1d9 , inset -1px -1px 0 #bad1d9);
}
.conteiner__item{
	padding: 15px 20px;
}
.conteiner_faq{
	position: relative;
}
.conteiner_in-campain{
	padding: 0;
}
// stat
.stat{
	@extend %clr;
	margin-bottom: 20px;
	.stat__desc{
		float: left;
		font-family:"Open Sans";
		font-size: 22px;
		line-height: 1;
		color: #627b89;
	}
	.season{
		margin-top: 5px;
		float: right;
	}
}

.stat_dashboard{
	overflow: hidden;
	line-height: 28px;
	.stat__desc{
		float: left;
		font-size: 24px;
		font-family:"Open Sans Semibold";
		color: #627b89;
	}
	.stat__date{
		float: right;
		font-size: 18px;
		font-family:"Open Sans";
		color: #627b89;
	}
	.graph-dash{
		.notice__meta{
			font-family:"Open Sans Bold";
			font-size: 12px;
		}
		.notice__asd{

		}
		.notice__asd_or{
			color: #e09c28;
		}
		.notice__asd_bl{
			color: #6fbae3;
		}
		.notice__asd_red{
			color: #e4877e;
		}
		.notice__asd_gr{
			color: #7da316;
		}
	}
	.graph-dash__media{
		width: 100%;
		height: 108px;
		margin: 28px 0 15px;
		position: relative;
		img{
			width: 100%;
			height: 100%;
		}
		.h5{
			position: absolute;
			top: 15px;
			left: 15px;
			font-family:"Open Sans Bold";
			font-size: 13px;
			color: #627b89;
		}
	}
	.graph-dash__info{
		display: inline-block;
		.desc{
			margin-right: 15px;
			display: inline-block;
			opacity: 0.5;
		}
		.desc__cont{
			
		}
		.is-active{
			opacity: 1;
			background: #f8fafb;
		}
		.desc__cont_mod{
			border: 1px dashed #dae3e6;
		}
	}
}
// season
.season{
	list-style: none;
	li{
		line-height: 23px;
		margin-right: 30px;
		float: left;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			height: 21px;
			line-height: 21px;
			padding: 0 6px;
			background: #f2a92a;
			border: 1px solid #cd8200;
			border-radius: 3px;
			a{
				color: #FFF;
			}
		}
	}
	a{
		font-family:"Open Sans Semibold";
		font-size: 12px;
		color: #91a1aa;
		text-decoration: none;
	}
}
// statistics
.statistics{
	// width: 672px;
	padding: 0 10px;
	list-style: none;
	li{
		@extend %clr;
		margin-bottom: 20px;
	}
	.statistics__graphic{
		position: relative;
		margin-bottom: 10px;
		border: 1px solid #b6c8d2;
		border-radius: 3px;
		overflow: hidden;
		&:hover{
			cursor: pointer;
		}
	}
	.statistics__desc{
		padding: 0 10px;
		overflow: hidden;
	}
	.statistics__group{
		float: left;
		color: #627b89;
	}
	.statistics__info{
		font-family:"Open Sans Bold";
		font-size: 16px;
	}
	.statistics__info-2{
		font-family:"Open Sans";
		font-size: 12px;
	}
	.statistics__data{
		float: right;
		font-family:"Open Sans";
		font-size: 30px;
	}
	.statistics__data_or{
		color: #e09c28;
	}
	.statistics__data_gr{
		color: #95b838;
	}
	.statistics__data_red{
		color: #e4877e;
	}
	.statistics__data_bl{
		color: #6fbae3;
	}
	.statistics__filter{
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.1;
		position: absolute;
		top: 0;
		left: 0;
		
		// display: none;
		&:hover{
			display: block;
		}
	}
	.statistics__more{
		height: 32px;
		line-height: 32px;
		padding: 0 20px 0 40px;
		position: relative;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #c4cace;
		position: absolute;
		top: 32px;
		left: 50%;
		margin-left: -71px;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #627b89;
		// display: none;
		.i_more, .i_moreAlt{
			position: absolute;
			top: 7px;
			left: 12px;
		}
		&:hover{
			display: block;
		}
	}
}
.statistics_small{
	// width: 729px;
	padding: 0;
	margin-right: -2%;
	overflow: hidden;
	li{
		width: 48%;
		margin-right: 2%;
		float: left;
	}
	.statistics__graphic{

	}
}
.statistics_myCapain{
	li{
		width: 23%;
	}
	.statistics__data{
		font-size: 22px;
	}
}
// info
.info{
	padding: 0 14px;
	margin: -1px;
	.info__top{
		margin: 0 -14px;
		min-height: 39px;
		line-height: 39px;
		padding-left: 15px;
		background: #627b89;
		border: 1px solid #536e7e;
		font-family:"Open Sans Bold";
		font-size: 16px;
		color: #FFF;
	}
	.info__top_link{
		position: relative;
		&:hover{
			cursor: pointer;
		}
		.ii_arr{
			position: absolute;
			top: 14px;
			right: 14px;
		}
	}
	.info__top_active{
		.ii_arr{
			border-width: 8px 5px 0 5px;
			border-color: #415865 transparent transparent transparent;
		}
	}
	.info__top_if-rirst{
		border-radius: 3px 3px 0 0;
	}
	.info__top-if-last{
		border-radius: 0px 0px 3px 3px;
	}
	.info__notice{
		margin-bottom: 15px;
		font-family:"Open Sans Semibold";
		font-size: 10px;
		color: #91a1aa;
		text-align: center;
	}
	.fileinput{
		text-align: center;
	}
	.fileinput__download{
		position: relative;
		height: 34px;
		line-height: 34px;
		display: inline-block;
		padding: 0 18px;
		margin: 0 0px 20px;
		background: #f8fafb;
		border-radius: 4px;
		border: 1px solid #bad1d9;
		font-family:"Open Sans Semibold";
		font-size: 12px;
		color: #627b89;
		text-decoration: none;
		text-align: center;
		&:hover{
			cursor: pointer;
		}
		input{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			cursor: pointer;
		}
	}
	.fileinput__download_small{
		margin: 0 0px 15px;
		height: 24px;
		line-height: 24px;
	}
}
.info_faq{
	background: #FFF;
	margin-bottom: 12px;
	border: 1px solid #bad1d9;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	text-align: center;
	.info_faq__text{
		padding: 20px 0;
	}
	.fileinput__download{
		background: #46bfd9;
		border: 1px solid #4a9cc8;
		color: #fff;
		&:hover{
			cursor: pointer;
			background: #40b0c8;
		}
	}
}
	.info_faq__text{
		text-align: center;
		line-height: 1.2;
		font-family:"Open Sans Semibold";
		font-size: 16px;
		color: #627b89;
	}
// desc
.desc{
	
	margin: 15px 0;
	.desc__meta{
		margin-bottom: 5px;
		font-family:"Open Sans Bold";
		font-size: 12px;
		color: #627b89;
	}
	.desc__contInput{
		position: relative;
	}
	.desc__cont{
		width: 220px;
		position: relative;
		padding: 8px 14px;
		border: 1px dashed #e7eef1;
		border-radius: 3px;
		font-family:"Open Sans";
		font-size: 14px;
		color: #91a1aa;
		word-break: break-all;
		resize: none;
		display: inline-block;
		text-decoration: none;
	}
	.desc__cont_alt{
		// height: 31px;
		height: auto;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.desc__cont_mod{
		padding: 6px 14px;
	}
}
// size
.size{
	margin-top: 20px;
	margin-right: -11px;
	.size__item{
		width: 67px;
		padding-left: 6px;
		height: 22px;
		line-height: 24px;
		margin-right: 10px;
		display: inline-block;
		border: 1px solid #95b838;
		border-radius: 2px;
		color: #95b838;
	}
	.size__item_gray{
		border: 1px dashed #e7eef1;
		font-family:"Open Sans Bold";
		color: #8899a3;
	}
}
.size_disabled{
	margin-top: 10px;
	margin-bottom: 15px;
	.size__item{
		width: 73px;
		padding-left: 0;
		text-align: center;
		border: 1px dashed #f5f8f9;
		color: #8899a3;
		opacity: 0.5;
	}
	.size__item_gray{
		font-family: "Open Sans";
	}
}
// izirivka
.izirivka{
	padding: 15px 11px 0px;
	background: url(../images/icons/bg_cell.png) repeat;
	margin: 0 -13px 2px;
	border-bottom: 1px solid #edf3f5;
	.izirika__meta{
		margin-bottom: 10px;
		line-height: 1;
		font: 15px "Open Sans Semibold";
		color: #627b89;
	}
	.izirivka__banner{
		margin-bottom: 15px;
		display: inline-block;
		padding: 2px;
		border-radius: 3px;
		border: 1px solid #bad1d9;
		text-align: center;
		img{
			vertical-align: top;
		}
		b{
			display: block;
			margin: 5px 0;
			font-family:"Open Sans Bold";
			font-size: 14px;
			color: #627b89;
		}
		span{
			margin-bottom: 5px;
			display: inline-block;
			font-family:"Open Sans Semibold";
			font-size: 12px;
			color: #627b89;
		}
	}
}
// diagram
.diagram{
	padding: 16px 0;
	line-height: 1;
	color: #627b89;
	.diagram__meta{
		margin-bottom: 10px;
		position: relative;
		font-family:"Open Sans Bold";
	}
	.diagram__note{
		font-family:"Open Sans Semibold";
	}
	.diagram__graph{
		margin-bottom: 15px;
		height: 16px;
		border-radius: 4px;
		border: 1px solid #bad1d9;
	}
	.diagram__note{
		font-family:"Open Sans Semibold";
		font-size: 10px;
		text-align: center;
	}
}
// notice
.notice{
	.notice__item{
		width: 105px;
		display: inline-block;
		line-height: 1;
		color: #91a1aa;
	}
	.notice__meta{
		margin-bottom: 5px;
		font-family:"Open Sans Semibold";
		font-size: 11px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.notice__asd{
		font-family:"Open Sans Bold";
		font-size: 17px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.notice_alt{
	position: relative;
	padding-left: 10px;
	.i_arr-red{
		position: absolute;
		top: 12px;
		left: -3px;
	}
	.notice__item{
		width: auto;
	}
}
// big
.big{
	font-family:"Open Sans Semibold";
	font-size: 34px;
	color: #627b89;
}
// some-red
.some-red{
	font-family:"Open Sans";
	font-size: 13px;
	color: #f3a8a2;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	b{
		font-family:"Open Sans Bold";
		margin-right: 3px;
	}
}
// some-blue
.some-blue{
	font-family:"Open Sans";
	font-size: 13px;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	b{
		font-family:"Open Sans Bold";
		margin-right: 3px;
	}
}

// btn_noBorderLeft
.btn_noBorderLeft{
	border-left: 0;
	padding: 0 13px 0 5px;
}
// btn__plus_or
.btn_ico, .btn {
	.btn__plus_or{
		@include sized-sprite($icons, i_plus-or);
	}
}

// promo
.promo{
	@extend %clr;
	// height: 29px;
	padding: 0 7px 0 10px;
	.promo__title{
		width: 142px;
		padding: 5px 0;
		float: left;
		font: 12px "Open Sans Bold", Arial, sans-serif;
		color: #627b89;
		vertical-align: top;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.promo__banner{
		width: 90px;
		height: 15px;
		padding: 1px;
		margin: 4px 0;
		background: #FFF;
		float: right;
		@include border-radius(1px);
		border: 1px solid #d4e3e7;
		opacity: 0.5;
		position: absolute;
		top: 0;
		right: 8px;
		&:hover{
			opacity: 1;
			cursor: pointer;
		}
		img{
			vertical-align: top;
		}
	}
	.promo__notice{
		float: right;
		display: inline-block;
		margin-right: 4px;
	}
	.promo__link{
		display: inline-block;
		float: right;
		font-family:"Open Sans Bold";
		font-size: 10px;
		color: #cd8200;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
// super-popup
.super-popup{
	position: relative;
	top: -100px;
	right: 385px;
	&:after{
		content:"";
		position: absolute;
		z-index: 1;
		top: 63px;
		right: -142px;
		@include rotate(45);
		width: 29px;
		height: 29px;
		background: #FFF;
		@include box-shadow(1px -1px 8px rgba(0,0,0,.3));
	}
	&:before{
		content:"";
		position: absolute;
		z-index: 1000;
		top: 57px;
		right: -144px;

		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 21px 0 21px 17px;
		border-color: transparent transparent transparent #fff;
	}
	.super-popup__cont{
		width: 339px;
		height: 209px;
		padding: 19px;
		background: #fff;
		border: 1px solid #b9d1d9;
		@include border-radius(4px 4px 4px 375px / 4px 4px 4px 5px);
		@include box-shadow(0 2px 8px rgba(0,0,0,.3));
		position: absolute;
		z-index: 400;
		.not_ok{
			position: absolute;
			bottom: 16px;
			left: 18px;
		}
		.i_ok{
			position: absolute;
			bottom: 16px;
			right: 21px;
		}
	}
	.super-popup__cont_budget{
		width: 267px;
		padding: 19px 12px;
		height: auto;
		.super-popup__wrap{
			margin-bottom: 12px;
			position: relative;
			padding: 15px;
			margin-right: 0;
			border: 1px solid #e3eef2;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
		}
		.super-popup__title{
			position: absolute;
			top: -17px;
			left: -12px;
			background: #fff;
			padding: 12px 25px 8px 10px;
			font-family:"Open Sans Semibold";
			color: #627b89;
		}
		.super-popup__row{
			margin-bottom: 15px;
		}
		.super-popup__note{
			font-family:"Open Sans Semibold";
			font-size: 11px;
			color: #627b89;
			text-align: center;
		}
		.super-popup__input{
			margin-top: 4px;
			margin-right: 9px;
			width: 180px;
			height: 20px;
			background: #fcfdfd;
			padding: 7px 12px;
			border: 1px solid #eaf1f4;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			font-family:"Open Sans Semibold";
			font-size: 22px;
			color: #627b89;
		}
		.super-popup_money{
			display: inline-block;
			@include sized-sprite($icons, 'super-popup_money');
		}
	}
	.super-popup__wrap{
		margin-right: -15px;
	}
	.super-popup__item{
		width: 105px;
		padding-left: 52px;
		line-height: 42px;
		margin-right: 15px;
		margin-bottom: 15px;
		display: inline-block;
		position: relative;
		border: 1px dashed #b9d1d9;
		@include border-radius(5px);
		background-color: #fff;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #bad1d9;
		&:after{
			content:"";
			display: inline-block;
			@include sized-sprite($icons, i_add);
			position: absolute;
			top: -6px;
			right: -6px;
		}
		&:hover{
			cursor: pointer;
		}
		i{
			position: absolute;
			left: 13px;
			top: 12px;
		}
	}
	.super-popup__item_active{
		border: 1px solid #bbd1d9;
		color: #627b89;
		&:after{
			content:"";
			display: inline-block;
			@include sized-sprite($icons, ok_small);
			position: absolute;
			top: -6px;
			right: -6px;
		}
	}
}
.super-popup_budget{
	width: 257px;
	right: 298px;
	&:before{
		border-width: 14px 0 14px 14px;
		right: -49px;
	}
	&:after{
		width: 17px;
		height: 17px;
		right: -45px;
	}
	.super-popup__cont_budget{
		.i_ok{
			right: 12px;
			@include sized-sprite($icons, 'budget_ok');
		}
		.not_ok{
			position: static;
			width: auto;
			height: 24px;
			padding: 0 15px;
			line-height: 24px;
			background: #9ec33b;
			border: 1px solid #8eb032;
			-webkit-border-radius: 3px;
			        border-radius: 3px;

			font-family:"Open Sans Semibold";
			font-size: 11px;
			font-style: normal;
			color: #FFF;
		}
	}
}
.super-popup__item{
	i{
		opacity: 0.5;
	}
}
.super-popup__item_active{
	i{
		opacity: 1;
	}
}
// choice
.choice{
	margin-right: 15px;
	display: inline-block;
	color: #6e8591;
	.choice__data{
		font-family:"Open Sans Bold";
		font-size: 16px;
	}
	.choice__desc{
		font-family:"Open Sans Semibold";
		font-size: 11px;
	}
}
// notification
.notif-wrap{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.8;
	z-index: 500;
}
.notif{
	width: 360px;
	min-height: 878px;
	background: #dce8ed;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
}
.notif_mod{
	width: 356px;
	min-height: auto;
	margin-left: -13px;
	margin-right: -13px;
	background: transparent;
	position: static;
	.notif__item{
		height: 72px;
	}

	.notif__topical{
		margin-bottom: 0;
	}
	.st_gr{
		display: inline-block;
		@include sized-sprite($icons, st_old);
	}
}
.notif_faq{
	width: 280px;
	margin-left: -14px;
	.notif__item{
		height: auto;
		padding: 0 15px;
		&:last-child{
			border-radius: 0 0 3px 3px;
		}
	}
}	.notif__faq{
		position: relative;
		background: #f5f7f7;
		border-left: 1px solid #bad1d9;
		border-right: 1px solid #bad1d9;
		.h3{
			width: 235px;
			margin: 13px 0;
			font-family:"Open Sans Semibold";
			font-size: 16px;
			line-height: 1.2;
			color: #627b89;
		}
		.h3_gray{
			color: #91a1aa;
		}
		.h3_blue{
			font-family:"Open Sans Semibold";
			color: #46bfd9;
		}
		.i_marker{
			position: absolute;
			top: 25px;
			right: 13px;
		}
		.more{
			margin: 15px;
			height: 34px;
			line-height: 34px;
			background: #f8fafb;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			border: 1px solid #bad1d9;
			text-align: center;
			&:hover{
				cursor: pointer;
				background: #ebf5f8;
			}
		}
	}
	.notif__faq_white{
		background: #FFF;
	}
	.notif__txt{
		margin: 13px 0;
		font-family:"Open Sans";
	}

	.notif__top{
		position: relative;
		height: 46px;
		line-height: 46px;
		padding: 0px 0 0px 35px;
		background: #293137;
		.h2{
			display: inline-block;
			font-family:"Open Sans Semibold";
			font-size: 18px;
			color: #FFF;
		}
	}
	.notif__ico{
		width: 59px;
		height: 67px;
		// background: red;
		position: relative;
		float: left;
		i{
			position: absolute;
			top: 21px;
			left: 15px;
		}
	}
	.notif__topical{
		margin-bottom: 4px;
	}
	.notif__text{
		width: 235px;
		margin-top: 8px;
		float: left;
		.h4{
			margin-bottom: 5px;
			font-family:"Open Sans Bold";
			font-size: 14px;
			color: #3c4a53;
			line-height: 1;
		}
	}
	.notif__date{
		padding-right: 20px;
		margin-top: 8px;
		float: right;
		text-align: right;
		font-family:"Open Sans Bold";
		font-size: 10px;
		color: rgba(145,161,170, .5);
	}
	.notif__button{
		min-width: 28px;
		min-height: 28px;
		background: #354049;
		border: 1px solid #22282d;
		border-radius: 4px;
		display: inline-block;
		position: relative;
		&:hover{
			background: #3a4e5e;
			cursor: pointer;
		}
		&:after{
			content: "";
			@include sized-sprite($icons, 'notif_arr');
			display: block;
			position: absolute;
			top: 7px;
			left: 5px;
		}
	}
	.notif__item{
		overflow: hidden;
		height: 67px;
		border-bottom: 1px solid #bdd2d9;
		font-family:"Open Sans Semibold";
		font-size: 12px;
		color: #91a1aa;
	}
	.is-new{
		background: #fff;
	}
	.is-new_NoTitle{
		.notif__text{
			margin-top: 18px;
		}
		background: #fff;
	}
	.is-old{
		background: #f5f7f7;
		.notif__text{
			margin-top: 18px;
		}
	}
	.notif__more{
		height: 39px;
		line-height: 39px;
		border-bottom: 1px solid #b6c8d2;
		-webkit-border-radius: 0 0 2px 2px;
		        border-radius: 0 0 2px 2px;
		font-size: 14px;
		font-family:"Open Sans Semibold";
		color: #91a1aa;
		text-align: center;
		&:hover{
			cursor: pointer;
		}
	}
// scroller
.scroller{
	height: 833px;
	overflow-y: scroll;
}
	.scroller__track{
		position: absolute;
		right: 5px;
		top: 70px;
		bottom: 25px;
		width: 8px;
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
	}
	.scroller__bar{
		height: 20px !important;
		position: absolute;
		z-index: 1;
		right: 0;
		width: 8px;
		background: #999;
		border-radius: 5px;
	}
.bal{
	overflow: hidden;
	.h3{
		float: left;
		font-family:"Open Sans";
		font-size: 24px;
		color: #2c2c2c;
		i{
			font-family:"Open Sans Semibold";
			font-size: 28px;
			color: #9ec33b;
			font-style: normal;
		}
		.money_green{
			margin-left: 15px;
			display: inline-block;
			@include sized-sprite($icons, "money_green");

		}
	}
	.balance__wrap-b{
		float: right;
		.b{
			margin-left: 10px;
			padding: 0 14px;
			height: 30px;
			line-height: 30px;
			display: inline-block;
			@include border-radius(4px);
			font-family:"Open Sans Semibold";
			font-size: 12px;
			color: #FFF;
		}
		.blue{
			background-color: #5fb9e9;
			border: 1px solid #499cc8;
			&:hover{
				background-color: #44a8dd;
			}
		}
		.gray{
			background-color: #a0b2bd;
			border: 1px solid #7e8d95;
			&:hover{
				background-color: #9aa6ad;
			}
		}
	}
}
.wrap{
	margin-bottom: 10px;
	border: 1px solid #bad1d9
}
.report{
	padding: 0 20px 20px;
	background: url(../images/icons/report_bg.png) 0px 0 repeat;
	border: 1px solid #c4c4b4;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
}
	.report__title{
		padding: 20px 0px;
		font-family:"Open Sans Bold";
		font-size: 16px;
		color: #757575;
		text-align: center;
	}
	.report__mgs{
		font-family:"Open Sans";
		font-size: 14px;
		line-height: 1.2;
		color: #757575;
	}
.popupDemo-wrap{
	position: relative;
}
.popupDemo{
	width: 700px;
	height: 610px;
	position: absolute;
	top: 131px;
	left: 50%;
	margin-left: -350px;
	z-index: 1000;
	background: #FFF;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	text-align: center;
}
	.popupDemo__logo{
		@include sized-sprite($icons, popupDemo__logo);
		margin-top: 35px;
		margin-left: 300px;
	}
	.popupDemo__title{
		margin-top: 35px;
		margin-bottom: 35px;
		font-family:"Open Sans";
		font-size: 44px;
		color: #293137;
	}
	.popupDemo__text{
		width: 560px;
		margin: 0 auto 50px;
		font-family:"Open Sans";
		color: #627b89;
		font-size: 16px;
		b{
			font-family:"Open Sans Semibold";
		}
	}
	.popupDemo__send{
		padding: 0 100px;
		height: 46px;
		line-height: 46px;
		position: absolute;
		bottom: 27px;
		left: 224px;
		background: #64c2f5;
		@include box-shadow(0 2px 5px rgba(0,0,0, .2), (inset 1px 1px 0px #88d8fa), (inset -1px -1px 0px #88d8fa));
		border: 1px solid #4c9ac3;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		font-family:"Open Sans";
		font-size: 18px;
		color: #FFF;
		text-decoration: none;
		span{
			@include text-shadow(0 1px 0px rgba(0,0,0, .32));
		}
		&:hover{
			background: #5bbaed;
		}
	}



.qr{
	@extend %clr;
	width: 450px;
	margin:  0 auto;
	text-align: left;
	position: relative;
	&:after{
		content: "";
		width: 650px;
		height: 1px;
		background: #e3e3e3;
		position: relative;
		bottom: -40px;
		left: -100px;
	}
	.qr__img{
		float: left;
		margin-right: 40px;
		img{

		}
	}
	.qr__cont{
		float: left;
		margin-top: 15px;
	}
	.qr__title{
		margin-bottom: 15px;
		font-family:"Open Sans Semibold";
		font-size: 24px;
		color: #60baea;
	}
	.qr__descr{
		font-size: 16px;
		font-family:"Open Sans";
		color: #627b89;

	}
	.qr__arr{
		@include sized-sprite($icons, qr_arr);
		position: absolute;
		bottom: -10px;
		left: 140px;
	}
}
.journal{

}
	.journal__top{
		overflow: hidden;
		margin: 0 -20px;
		padding: 5px 0px 20px;
		border-bottom: 1px solid #edf3f5;
		margin-bottom: -1px;
		.select{
			float: left;
			margin-left: 20px;
		}
		.select-date{
			margin-right: 0;
			.select-date__in{
				padding: 4px 20px 4px 15px;
			}
		}
		.select-date_profile{

		}

	}
.journal-table{
	padding-right: 20px;
	margin-right: -20px;
	overflow: hidden;
	table{
		padding-right: 20px;
	}
	thead{
		.journal-table__item{
			padding-top: 20px;
		}
		.journal-table__type,
		.journal-table__msg,
		.journal-table__data,
		.journal-table__read{
			margin-top: 15px;
			font-family:"Open Sans Bold";
			color: #529cc3;
		}
		tr{

		}
	}
	tr{
		margin-bottom: 20px;
	}
	td{
		vertical-align: top;
		padding: 10px;
	}
}
	.journal-table__cont{
		font-family:"Open Sans Semibold";
		color: #627b89;
		.journal-table__type{
			color: #91a1aa;
		}
	}
	.journal-table__item:nth-child(2n){
		tr{
			position: relative;
			&:before{
				width: 100%;
				height: 1px;
				background: red;
				position: absolute;
				top: 0;
				left: 0;
			}
		}
			td{

				// border-top: 10px solid red;
			}
		}
	.journal-table__item{
		vertical-align: top;
		background: #FFF;
		td{
			position: relative;
			border-left: 20px solid #fff;
			border-bottom: 1px solid #edf3f5;
			&:after{
				content:"";
				position: absolute;
				top: 1px;
				left: -10px;
				width: 10px;
				height: 100%;
				background: #fff;
				z-index: 1000;
			}
		}
	}
	.journal-table__item:nth-child(2n){
		background: #fafcfc;
	}
	.journal-table__type{
		width: 111px;
		padding: 0 12px;
		float: left;
	}
	.journal-table__msg{
		padding: 0 12px;
		line-height: 1.4;
	}
	.journal-table__data{
		width: 101px;
		padding: 0 12px;
		float: right;
	}
	.journal-table__read{
		width: 86px;
		padding:  0 12px;
		float: right;
	}
// journal-table_support
.journal-table_support{
	table{
		width: 100%;
		.first{
			width: 35px;
		}
		.second{
			
		}
		.third{
			width: 88px;
		}
		.fourth{
			width: 45px;
		}
	}
	.journal-table__type{
		width: auto;
		padding: 0;
	}
	.journal-table__data{
		width: auto;
		padding: 0 5px 0 0;
	}
	.journal-table__read{
		width: auto;
		padding: 0;
	}
	.journal-table__item:nth-child(2n){
		background: #fff;
	}
	.journal-table__item{
		font-family:"Open Sans";
		font-size: 14px;
		color: #627b89;
		opacity: 0.5;
		position: relative;
		td{
			border-bottom: none;
		}
	}
	tr.journal-table__item_active{
		background: #fafcfc !important;
		td{
			position: relative;
			&:after{
				content: "";
				width: 100%;
				height: 1px;
				background: #fafcfc;
				position: absolute;
				top: -1px;
				left: 0;
			}
		}
	}
	.journal-table__item_hover{
		font-family:"Open Sans Bold";

		color: #60baea;
		.journal-table__type{
			color: #60baea;
		}
		.first{
			font-family:"Open Sans Semibold";
		}
		.third{
			width: 105px;
			font-family:"Open Sans Semibold";
		}
		.fourth{
			font-family:"Open Sans Semibold";
		}
		.journal-table__ico{
			@include sized-sprite($icons, journal-table__icoArr);
			position: absolute;
			right: 12px;
			top: 13px;
		}
	}
	.journal-table__item_problem{
		opacity: 1;
		.journal-table__msg{
			font-family:"Open Sans Bold";
		}
		.journal-table__ico{
			@include sized-sprite($icons, journal-table__icoCir);
			position: absolute;
			right: 12px;
			top: 13px;
		}
	}
	td{
		position: relative;
		&:before{
			content: "";
			width: 100%;
			height: 1px;
			background: #edf3f5;
			position: absolute;
			top: -2px;
			left: 0;
		}
		&:after{
			content: "";
			width: 100%;
			height: 1px;
			background: #fff;
			position: absolute;
			top: -1px;
			left: 0;
		}
	}
	.journal-table__ico{
		display: inline-block;
		vertical-align: middle;
	}
}

// pagination
.pagination{
	margin-top: 30px;
	margin-bottom: 15px;
	.b{
		width: 34px;
		height: 34px;
		line-height: 34px;
		margin-right: 5px;
		display: inline-block;
		position: relative;
		background: #f8fafb;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		border: 1px solid #bad1d9;
		color: #627b89;
		text-decoration: none;
		text-align: center;
		vertical-align: top;
	}
	.b_active{
		background: #a6cc3d;
		border: 1px solid #8eb032;
		color: #fff;
	}
	.most-next{
		i{
			@include sized-sprite($icons, "most-next");
			right: 8px;
		}
	}
	.next{
		i{
			@include sized-sprite($icons, "pagination_next");
			right: 11px;
		}
	}
	.most-prev{
		i{
			@include sized-sprite($icons, "most-prev");
			left: 8px;
		}
	}
	.prev{
		i{
			@include sized-sprite($icons, "pagination_prev");
			left: 11px;
		}
	}
	.most-prev, .prev, .next, .most-next{
		i{
			display: inline-block;
			position: absolute;
			top: 11px;
		}
	}
}
.user-wrap{
	overflow: hidden;
	padding: 10px;
}
.user{
	width: 50%;
	min-height: 778px;
	margin-right: 1%;
	float: left;
}
.balance{
	float: left;
	width: 49%;
	min-height: 788px;
}
	.balance__top{
		@extend %clr;
		padding-bottom: 15px;
		border-bottom: 1px solid #edf3f5;
	}
	.balance__operation{
		height: 50px;
	}
	.balance__money{
		float: left;
		font-family:"Open Sans Semibold";
		line-height: 1;
		.bal{
			display: block;
			margin-bottom: 10px;
			font-size: 18px;
			color: #627b89;
		}
		.numb{
			font-size: 26px;
			color: #9ec33b;
			.balance__ico{
				margin-left: 20px;
				display: inline-block;
				@include sized-sprite($icons, "balance__ico");
			}
		}
	}
	.balance__label{
		position: relative;
		line-height: 50px;
		font-family:"Open Sans Bold";
		color: #627b89;
		font-size: 16px;
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 8px 4.5px 0 4.5px;
			border-color: #627b89 transparent transparent transparent;
			position: absolute;
			top: 8px;
			right: -20px;
		}
		&:hover{
			cursor: pointer;
		}
	}
	.balance__button{
		margin-top: 17px;
		float: right;
		a{
			margin-left: 10px;
		}
	}
	.balance__item{
		position: relative;
		@extend %clr;
		margin-bottom: 10px;
		padding: 12px 10px 12px 20px;
		background: #f8fafb;
		border: 1px solid #bad1d9;
		-webkit-border-radius: 5px;
		        border-radius: 5px;
	}
	.balance__inputOutput{
		float: left;
	}
	.balance__info{
		span{
			margin-bottom: 7px;
			display: block;
			font-family:"Open Sans";
			font-size: 15px;
			color: #627b89;
			b{
				margin-left: 3px;
				margin-right: 5px;
				font-family:"Open Sans Semibold";
			}
			.i_balance__money{
				display: inline-block;
				@include sized-sprite($icons, "balance__money");
			}
		}
		em{
			display: block;
			font-family:"Open Sans";
			font-size: 12px;
			color: #91a1aa;
			font-style: normal;
		}
		.balance_arr{
			margin-left: 2px;
			vertical-align: middle;
			display: inline-block;
		}
	}
	.balance__output{
		.balance_arr{
			@include sized-sprite($icons, "balance_arr-left");
		}
	}
	.balance__input{
		.balance_arr{
			@include sized-sprite($icons, "balance_arr-right");
		}
	}
	.balance__inputRed{
		.balance_arr{
			@include sized-sprite($icons, "balance_arr-rightRed");
		}
	}
	.balance__status{
		float: right;
		margin-right: 5px;
		font-family:"Open Sans Semibold";
		font-size: 12px;
		color: #91a1aa;
	}
		.balance__date {
			margin-bottom: 7px;
		}
		.balance__rejected{
			font-family:"Open Sans Semibold";
			color: #ea5649;
			b{
				font-family:"Open Sans Bold";
			}
		}
		.balance__processing{
			b{
				font-family:"Open Sans Bold";
			}
			color: #f2a92a;
		}
		.balance__number{
			text-align: right;
		}
		.balance__more{
			width: 100%;
			height: 34px;
			line-height: 34px;
			background: #f8fafb;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			border: 1px solid #bad1d9;
			text-align: center;
			font-family:"Open Sans Semibold";
			color: #627b89;
			&:hover{
				 background: #f0f7fa;
				cursor: pointer;
			}
		}
		.balance__rejectedError{
			width: 100%;
			height: 24px;
			line-height: 24px;
			background: #FFF;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			border: 1px solid #c6d9e0;
			position: absolute;
			bottom: -20px;
			left: 0;
			z-index: 1000;
			font-family:"Open Sans Semibold";
			color: #91a1aa;
			box-shadow: inset 0px 1px 0px #f1f6f7;
			p{
				padding: 0 15px;
			}
			&:after{
				content: "";
				position: absolute;
				top: -7px;
				left: 25px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 6px 7px 6px;
				border-color: transparent transparent #bad1d9 transparent;
			}
			&:before{
				content: "";
				position: absolute;
				z-index: 1000;
				top: -6px;
				left: 25px;
				width: 0px;
				height: 0px;
				border-style: solid;
				border-width: 0 6px 7px 6px;
				border-color: transparent transparent #fff transparent;
			}
		}
.client{
	margin-bottom: 25px;
	overflow: hidden;
}
	.client__ico{
		width: 59px;
		height: 59px;
		line-height: 59px;
		vertical-align: top;
		overflow: hidden;
		float: left;
		margin-right: 15px;
		border: 1px solid #bad1d9;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		img{

		}
	}
	.client__info{
		width: 220px;
		float: left;
		font-family:"Open Sans Semibold";
		color: #627b89;
		.client__fio{
			font-size: 26px;
		}
		.client__company{
			font-size: 18px;
		}
	}
	.client__changePass{
		float: right;
		.b_dark-blue{
			margin-top: 15px;
		}
	}
	.client__meta{
		padding: 5px 0;
		margin-bottom: 12px;
		border-bottom: 1px solid #edf3f5;
		font-family:"Open Sans Bold";
		font-size: 14px;
		color: #627b89;
	}
	.client__title{
		height: 14px;
		padding-bottom: 10px;
		text-align: left;
		font-family:"Open Sans";
		color: #91a1aa;
	}
	.client__error{
		width: 100%;
		position: absolute;
		top: 26px;
		left: -1px;
		font-family:"Open Sans Semibold";
		font-size: 11px;
		color: #ea5649;
		background: #FFF;
		border: 1px solid #bad1d9;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		&:after{
			content: "";
			position: absolute;
			top: -7px;
			left: 16px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 5.5px 6px 5.5px;
			border-color: transparent transparent #bad1d9 transparent;
		}
		&:before{
			content: "";
			position: absolute;
			z-index: 1000;
			top: -6px;
			left: 16px;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 0 5.5px 6px 5.5px;
			border-color: transparent transparent #fff transparent;
		}
		p{
			padding: 0 13px;
		}
	}
	.row{
		width: 100%;
		margin-top: 25px;
		overflow: hidden;
	}
	.row__cont{
		@extend %clr;
		// overflow: hidden;
		padding-top: 10px;
	}
	.row__left{
		width: 45%;
		float: left;
	}
	.row__right{
		width: 45%;
		margin-right: 23px;
		float: right;
		text-align: right;
	}
	.row__select{
		position: relative;
		select{
			width: 110%;
			height: 30px;
			position: absolute;
			top: 0;
			opacity: 0;
			z-index: 1000;
			border: 1px solid #dae3e6;
		}
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 8px 4.5px 0 4.5px;
			border-color: #dae3e6 transparent transparent transparent;
			position: absolute;
			top: 13px;
			right: -10px;
		}
	}
.client__label{
	width: 100%;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	position: relative;
	padding: 0 10px;
	background: #f8fafb;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	font-family:"Open Sans";
	font-size: 14px;
	text-align: left;
	i{
		margin-right: 4px;
	}
}
.client__label_active{
	border: 1px solid #dae3e6;
	color: #627b89;
}
.client__label_add{
	border: 1px dashed #dae3e6;
	color: #d2dbdf;
}
.webmoney{
	@extend %clr;
	padding: 14px 18px;
	border: 1px solid #dae3e6;
	-webkit-border-radius: 3px;
	        border-radius: 3px;
	.webmoney__logo{
		float: left;
		@include sized-sprite($icons, webmoney);
		&:hover{
			cursor: pointer;
		}
	}
	.client__label {
		width: auto;
		float: right;
	}
}
.user__button{
	padding-top: 18px;
	margin-top: 125px;
	border-top: 1px solid #edf3f5;
	overflow: hidden;
	button{
		border: none;
		&:hover{
			cursor: pointer;
		}
	}
	.reset{
		padding: 0 20px 0 40px;
		height: 35px;
		line-height: 35px;
		background: #91a1aa;
		border-radius: 3px;
		border: 1px solid #7e8d95;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #fff;
		position: relative;
		&:hover{
			background: #83929b;
		}
		i{
			@include sized-sprite($icons, user__reset);
			position: absolute;
			top: 11px;
			left: 14px;
		}
	}
	.apply{
		padding: 0 20px 0 40px;
		height: 35px;
		line-height: 35px;
		background: #9ec33b;
		border-radius: 3px;
		border: 1px solid #8eb032;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #fff;
		float: right;
		position: relative;
		&:hover{
			background: #a3cf2f;
		}
		i{
			@include sized-sprite($icons, user__apply);
			position: absolute;
			top: 11px;
			left: 14px;
		}
	}
}
.row__mod{
	.row__left{
		width: 20%;
	}
	.row__right{
		width: 66%;
		padding-left: 25px;
		margin-right: 0;
		overflow: hidden;
		float: right;
	}
	.client__title_mod{
		margin-left: -20px;
	}
	.client__label_mod{
		float: right;
	}
}
.row__left_small{
	.row__select{
		width: 140px;
	}
}
.search{
	padding-bottom: 20px;
	input[type="search"]::-webkit-search-cancel-button {
	  display: none;

	}
	.search__input{
		overflow: hidden;
	}
	input[type="text"]{
		width: 99%;
		padding: 0 10px;
		height: 44px;
		border: 1px dashed #e7eef1;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		box-sizing: border-box;
		font-family:"Open Sans";
		font-size: 18px;

	}
	input[type="submit"]{
		float: right;
		height: 44px;
		line-height: 44px;
		padding: 0 25px;
		background: #46bfd9;
		border: 1px solid #4a9cc8;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		font-family:"Open Sans Semibold";
		font-size: 16px;
		color: #fff;
		&:hover{
			cursor: pointer;
			background: #40b0c8;
		}
	}
}
.scroller_mod{
	.scroller__track{
		top: 90px;
		right: 15px;
	}
	.scroller__bar{
		width: 6px;
		height: 40px !important;
		background: #46bfd9;
		border: 1px solid #4a9cc8;
	}
}
.faq{
	margin: 0 -20px;
	border-top: 1px solid #edf3f5;
	.faq__item{
		margin-top: 30px;
		padding: 0 20px 0 35px;
	}
	.h2{
		margin-bottom: 10px;
		font-family:"Open Sans Semibold";
		font-size: 20px;
		color: #627b89;
	}
	.faq__cont{

		margin-bottom: 20px;
		padding-right: 130px;
		line-height: 1.4;
		font-family:"Open Sans";
		font-size: 16px;
		color: #91a1aa;
	}
	.faq__more{
		margin-top: 20px;
		display: block;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #91a1aa;
	}
}
.two-btn{
	float: right;
	margin-left: 8px;
	.btn{
		float: left;
		margin: 0;
		&:first-child{
			border-radius:4px 0 0 4px;
			border-right: 0;
		}
		&:last-child{border-radius:0 4px 4px 0;}
	}
}
.diagram__graph{
	width: 100%;
	i{
		width: 75%;
		height: 100%;
		display: inline-block;
		@include background-image(linear-gradient(left, #ff7768 0%, #fde526 20%, #f6e727 55%, #9be751 100%));
	}
}
.wrap-popupError{
	width: 700px;
	height: 190px;
	background: #FFF;
	position: absolute;
	top: 100px;
	left: 50%;
	margin-left: -350px;
	z-index: 1000;
	@include box-shadow(0 2px 20px rgba(0,0,0,.75));
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}
	.wrap-popupError{
		// display: none;
	}
	.popupError{

	}
	.popupError__title{
		margin-top: 40px;
		margin-bottom: 25px;
		text-align: center;
		font-family:"Open Sans";
		font-size: 30px;
		color: #8899a3;
		b{
			font-family:"Open Sans Bold";
			margin-left: 5px;
		}
	}
	.popupError__note{
		margin-bottom: 25px;
		text-align: center;
		font-family:"Open Sans";
		font-size: 14px;
		color: #8899a3;
	}
	.popupError__button{
		width: 103px;
		height: 34px;
		line-height: 34px;
		background: #9ec33b;
		margin: 0 auto;
		-webkit-border-radius: 3px;
		        border-radius: 3px;
		text-align: center;
		color: #FFF;
		&:hover{
			cursor: pointer;
			background: #98bb3b;
		}
	}
	.wrap-popupBanner{
		width: 760px;
		height: 230px;
		background: #FFF;
		position: absolute;
		top: 300px;
		left: 50%;
		margin-left: -350px;
		z-index: 1000;
		@include box-shadow(0 2px 20px rgba(0,0,0,.75));
		-webkit-border-radius: 5px 5px 0 0;
		        border-radius: 5px 5px 0 0;
	}
	.popupBanner{
		position: relative;
	}
	.popupBanner__head{
		height: 28px;
		padding: 16px 0 16px 16px;
		overflow: hidden;
		border-bottom: 1px solid #d3e3e8;
	}
		.popupBanner__size{
			height: 27px;
			line-height: 27px;
			padding: 0 11px;
			border: 1px dashed #d3e3e8;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
			margin-right: 10px;
			float: left;
			color: #a6b3ba;
			font-size: 14px;
		}
		.popupBanner__size_active{
			background: #f2a92a;
			border: 1px solid #cd8200;
			color: #fff;
		}
		.popupBanner__close{
			position: absolute;
			top: 22px;
			right: 18px;
			@include sized-sprite($icons, "popupBanner__close");
			&:hover{
				cursor: pointer;
			}
		}
	.popupBanner__cnt{
		padding: 18px 13px 16px 13px;
		background: url(../images/icons/bg_cell.png) repeat;
		border-radius: 0 0 5px 5px;
	}
		.popupBanner__title{
			margin-bottom: 10px;
			font-size: 30px;
			color: #627b89;
		}
		.popupBanner__media{
			padding: 2px 2px 0;
			border: 1px solid #bad1d9;
			-webkit-border-radius: 3px;
			        border-radius: 3px;
		}
