@import "base";

// fix ico
i.i_ico{
	// !!!
	position: static;
	top: 0;
}
// fix ico
i.i_bag{
	display: inline-block;
	@include sized-sprite($icons, i_bag);
}
.i_count{
	padding: 3px 4px;
	background: #edf3f5;
	border-radius: 3px;
	font-family:"Open Sans Semibold";
	font-size: 10px;
	font-style: normal;
	color: #91a1aa;
	position: absolute;
	bottom: 0;
	right: 0;
}
.i_refresh{
	@include sized-sprite($icons, i_refresh);
}
.i_close{
	@include sized-sprite($icons, i_close);
}
.i_load{
	@include sized-sprite($icons, i_load);
}
.i_arr{
	@include sized-sprite($icons, i_arr);
}
.i_help{
	@include sized-sprite($icons, i_help);
}
.i_more{
	@include sized-sprite($icons, i_more);
	display: inline-block;
}
.i_moreAlt{
	@include sized-sprite($icons, i_moreAlt);
	display: inline-block;
}
.i_arr-red{
	@include sized-sprite($icons, i_arr-red);
	display: inline-block;
}
.i_arr-redSmall{
	i{
		@include sized-sprite($icons, i_arr-redSmall);
	}
}
.i_heart{
	@include sized-sprite($icons, i_heart);
	display: inline-block;
}
.i_bucks{
	@include sized-sprite($icons, i_bucks);
	display: inline-block;
}
.i_smile{
	@include sized-sprite($icons, i_smile);
	display: inline-block;
}
.i_four{
	@include sized-sprite($icons, i_four);
	display: inline-block;
}
.i_misc{
	@include sized-sprite($icons, i_misc);
	display: inline-block;
}
.i_chat{
	@include sized-sprite($icons,i_chat);
	display: inline-block;
}
.i_arr-b1{
	@include sized-sprite($icons, 'arr_b1');
	display: inline-block;
}
.not_ok{
	@include sized-sprite($icons, 'not_ok');
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.i_ok{
	@include sized-sprite($icons, 'ok_med');
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.i_mod{
	font-family:"Open Sans Bold";
	font-size: 11px;
	font-style: normal;
	vertical-align: top;
	line-height: 28px;
	color: #fff;
	padding: 0 9px 0 29px;
}
.i_modColor{
	color: #bad1d9;
}
.i_play{
	min-width: 28px;
	min-height: 28px;
	background: #93acba;
	border: 1px solid #879aa4;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #8da0ab;
		cursor: pointer;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, 'i_some-arrow');
		display: block;
		position: absolute;
		top: 7px;
		left: 9px;
	}
}
.i_stop{
	min-width: 28px;
	min-height: 28px;
	background: #93acba;
	border: 1px solid #879aa4;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #8da0ab;
		cursor: pointer;
	}
	&:after{
		content: "";
		width: 10px;
		height: 10px;
		background: #fff;
		border: 1px solid #879aa4;
		border-radius: 1px;
		display: block;
		position: absolute;
		top: 8px;
		left: 8px;
	}
}
.i_wtf{
	min-width: 28px;
	min-height: 28px;
	background: #f5f8fa;
	border: 1px solid #bad1d9;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #ebf1f4;
		cursor: pointer;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, 'wtf');
		position: absolute;
		top: 6px;
		left: 6px;
	}
}
.i_cross{
	min-width: 28px;
	min-height: 28px;
	background: #f5f8fa;
	border: 1px solid #bad1d9;
	border-radius: 4px;
	display: inline-block;
	position: relative;
	&:hover{
		background: #ebf1f4;
		cursor: pointer;
	}
	&:after{
		content: "";
		@include sized-sprite($icons, 'i_cross');
		position: absolute;
		top: 8px;
		left: 8px;
	}
}
.ii_arr{
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 5px 0 5px 8px;
	border-color: transparent transparent transparent #415865;
}
.ii_circle{
	width: 12px;
	height: 12px;
	border-radius: 7px;
	display: inline-block;
	&:hover{
		cursor: pointer;
	}
}
.ii_arr-green{
	width: 0px;
	height: 0px;
	display: inline-block;
	border-style: solid;
	border-width: 7px 0 7px 12px;
	border-color: transparent transparent transparent #9ec33b;
	&:hover{
		cursor: pointer;
	}
}
.ii_square-or{
	width: 10px;
	height: 10px;
	display: inline-block;
	background: #f2a92a;
	border: 1px solid #cd8200;
	&:hover{
		cursor: pointer;
	}
}
.ii_square-or_mod{
	background: #f8ebd2;
}
.circle-red{
	background: #ea5649;
	border: 1px solid #c2473b;
}
.circle-gray{
	color: #e5edf3;
	border: 1px solid #bcd2da;
}
.i_arr-r{
	@include sized-sprite($icons, ar_r);
	display: inline-block;
}
.i_arr-d{
	@include sized-sprite($icons, 'arr_b1');
	display: inline-block;
}
.money_r{
	@include sized-sprite($icons, money_r);
	display: inline-block;
}
.i_money-big{
	@include sized-sprite($icons, money_r-big);
	display: inline-block;
	margin-right: 4px;
}
.b{
	font-family:"Open Sans Semibold";
	font-size: 14px;
	color: #FFF;
	&:hover{
		cursor: pointer;
	}
}
.b_reset{
	height: 34px;
	line-height: 34px;
	padding: 0 19px;
	background: #91a1aa;
	border: 1px solid #7e8d95;
	border-radius: 3px;
}
.b_submit{
	height: 34px;
	line-height: 34px;
	padding: 0 19px;
	background: #9ec33b;
	border: 1px solid #8eb032;
	border-radius: 3px;
}
.tuning{
	width: 276px;
	height: 35px;
	line-height: 40px;
	display: inline-block;
	background: #f8fafb;
	border: 1px solid #bad1d9;
	border-radius: 4px;
	text-decoration: none;
	text-align: center;
	font-family:"Open Sans Semibold";
	font-size: 14px;
	color: #627b89;
}
// fix nav
.nav{
	.active_not-after{
		a{
			&:after{
				content: "";
				background: none;
			}
		}
	}
}
// conteiner
.conteiner{
	padding: 15px 20px;
	margin-bottom: 8px;
	border: 1px solid #bad1d9;
	border-radius: 3px;
	background: #FFF;
}
.conteiner_alt{
	padding: 0;
}
.conteiner_alt2{
		padding: 15px 20px 0;
}
// stat
.stat{
	@extend %clr;
	margin-bottom: 20px;
	.stat__desc{
		float: left;
		font-family:"Open Sans";
		font-size: 22px;
		line-height: 1;
		color: #627b89;
	}
	.season{
		margin-top: 5px;
		float: right;
	}
}
// season
.season{
	list-style: none;
	li{
		line-height: 23px;
		margin-right: 30px;
		float: left;
		&:last-child{
			margin-right: 0;
		}
		&.active{
			height: 21px;
			line-height: 21px;
			padding: 0 6px;
			background: #f2a92a;
			border: 1px solid #cd8200;
			border-radius: 3px;
			a{
				color: #FFF;
			}
		}
	}
	a{
		font-family:"Open Sans Semibold";
		font-size: 12px;
		color: #91a1aa;
		text-decoration: none;
	}
}
// statistics
.statistics{
	// width: 672px;
	padding: 0 10px;
	list-style: none;
	li{
		@extend %clr;
		margin-bottom: 20px;
	}
	.statistics__graphic{
		position: relative;
		margin-bottom: 10px;
		border: 1px solid #b6c8d2;
		border-radius: 3px;
		overflow: hidden;
		&:hover{
			cursor: pointer;
		}
	}
	.statistics__desc{
		padding: 0 10px;
		overflow: hidden;
	}
	.statistics__group{
		float: left;
		color: #627b89;
	}
	.statistics__info{
		font-family:"Open Sans Bold";
		font-size: 16px;
	}
	.statistics__info-2{
		font-family:"Open Sans";
		font-size: 12px;
	}
	.statistics__data{
		float: right;
		font-family:"Open Sans";
		font-size: 30px;
	}
	.statistics__data_or{
		color: #e09c28;
	}
	.statistics__data_gr{
		color: #95b838;
	}
	.statistics__data_red{
		color: #e4877e;
	}
	.statistics__data_bl{
		color: #6fbae3;
	}
	.statistics__filter{
		width: 100%;
		height: 100%;
		background: #000;
		opacity: 0.1;
		position: absolute;
		top: 0;
		left: 0;
		
		// display: none;
		&:hover{
			display: block;
		}
	}
	.statistics__more{
		height: 32px;
		line-height: 32px;
		padding: 0 20px 0 40px;
		position: relative;
		background: #fff;
		border-radius: 10px;
		border: 1px solid #c4cace;
		position: absolute;
		top: 32px;
		left: 50%;
		margin-left: -71px;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #627b89;
		// display: none;
		.i_more, .i_moreAlt{
			position: absolute;
			top: 7px;
			left: 12px;
		}
		&:hover{
			display: block;
		}
	}
}
.statistics_small{
	// width: 729px;
	padding: 0;
	margin-right: -2%;
	overflow: hidden;
	li{
		width: 48%;
		margin-right: 2%;
		float: left;
	}
	.statistics__graphic{

	}
}
.statistics_myCapain{
	li{
		width: 23%;
	}
	.statistics__data{
		font-size: 22px;
	}
}
// info
.info{
	padding: 0 14px;
	margin: -1px;
	.info__top{
		margin: 0 -14px;
		min-height: 39px;
		line-height: 39px;
		padding-left: 15px;
		background: #627b89;
		border: 1px solid #536e7e;
		font-family:"Open Sans Bold";
		font-size: 16px;
		color: #FFF;
	}
	.info__top_link{
		position: relative;
		&:hover{
			cursor: pointer;
		}
		.ii_arr{
			position: absolute;
			top: 14px;
			right: 14px;
		}
	}
	.info__top_active{
		.ii_arr{
			border-width: 8px 5px 0 5px;
			border-color: #415865 transparent transparent transparent;
		}
	}
	.info__top_if-rirst{
		border-radius: 3px 3px 0 0;
	}
	.info__top-if-last{
		border-radius: 0px 0px 3px 3px;
	}
	.info__notice{
		margin-bottom: 15px;
		font-family:"Open Sans Semibold";
		font-size: 10px;
		color: #91a1aa;
		text-align: center;
	}
	.fileinput{
		text-align: center;
	}
	.fileinput__download{
		position: relative;
		height: 34px;
		line-height: 34px;
		display: inline-block;
		padding: 0 18px;
		margin: 0 0px 20px;
		background: #f8fafb;
		border-radius: 4px;
		border: 1px solid #bad1d9;
		font-family:"Open Sans Semibold";
		font-size: 12px;
		color: #627b89;
		text-decoration: none;
		text-align: center;
		&:hover{
			cursor: pointer;
		}
		input{
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			cursor: pointer;
		}
	}
	.fileinput__download_small{
		margin: 0 0px 15px;
		height: 24px;
		line-height: 24px;
	}
}
// desc
.desc{
	margin: 15px 0;
	.desc__meta{
		margin-bottom: 5px;
		font-family:"Open Sans Bold";
		font-size: 12px;
		color: #627b89;
	}
	.desc__cont{
		position: relative;
		padding: 8px 14px;
		border: 1px dashed #e7eef1;
		border-radius: 3px;
		font-family:"Open Sans";
		font-size: 14px;
		color: #91a1aa;
		word-break: break-all;
	}
	.desc__cont_alt{
		height: 31px;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	.desc__cont_mod{
		padding: 6px 14px;
	}
}
// size
.size{
	margin-top: 20px;
	margin-right: -11px;
	.size__item{
		width: 67px;
		padding-left: 6px;
		height: 22px;
		line-height: 24px;
		margin-right: 10px;
		display: inline-block;
		border: 1px solid #95b838;
		border-radius: 2px;
		color: #95b838;
	}
	.size__item_gray{
		border: 1px dashed #e7eef1;
		font-family:"Open Sans Bold";
		color: #8899a3;
	}
}
.size_disabled{
	margin-top: 10px;
	margin-bottom: 15px;
	.size__item{
		width: 73px;
		padding-left: 0;
		text-align: center;
		border: 1px dashed #f5f8f9;
		color: #8899a3;
		opacity: 0.5;
	}
	.size__item_gray{
		font-family: "Open Sans";
	}
}
// izirivka
.izirivka{
	padding: 15px 11px 0px;
	background: url(../images/icons/bg_cell.png) repeat;
	margin: 0 -13px 2px;
	border-bottom: 1px solid #edf3f5;
	.izirika__meta{
		margin-bottom: 10px;
		line-height: 1;
		font: 15px "Open Sans Semibold";
		color: #627b89;
	}
	.izirivka__banner{
		margin-bottom: 15px;
		display: inline-block;
		padding: 2px;
		border-radius: 3px;
		border: 1px solid #bad1d9;
		text-align: center;
		img{
			vertical-align: top;
		}
	}
}
// diagram
.diagram{
	padding: 16px 0;
	line-height: 1;
	color: #627b89;
	.diagram__meta{
		margin-bottom: 10px;
		position: relative;
		font-family:"Open Sans Bold";
	}
	.diagram__note{
		font-family:"Open Sans Semibold";
	}
	.diagram__graph{
		margin-bottom: 15px;
		height: 16px;
		border-radius: 4px;
		border: 1px solid #bad1d9;
	}
	.diagram__note{
		font-family:"Open Sans Semibold";
		font-size: 10px;
		text-align: center;
	}
}
// notice
.notice{
	.notice__item{
		width: 105px;
		display: inline-block;
		line-height: 1;
		color: #91a1aa;
	}
	.notice__meta{
		margin-bottom: 5px;
		font-family:"Open Sans Semibold";
		font-size: 11px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.notice__asd{
		font-family:"Open Sans Bold";
		font-size: 17px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
}
.notice_alt{
	position: relative;
	padding-left: 10px;
	.i_arr-red{
		position: absolute;
		top: 12px;
		left: -3px;
	}
	.notice__item{
		width: auto;
	}
}
// big
.big{
	font-family:"Open Sans Semibold";
	font-size: 34px;
	color: #627b89;
}
// some-red
.some-red{
	font-family:"Open Sans";
	font-size: 13px;
	color: #f3a8a2;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	b{
		font-family:"Open Sans Bold";
		margin-right: 3px;
	}
}
// some-blue
.some-blue{
	font-family:"Open Sans";
	font-size: 13px;
	width: 95px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	b{
		font-family:"Open Sans Bold";
		margin-right: 3px;
	}
}

// btn_noBorderLeft
.btn_noBorderLeft{
	border-left: 0;
	padding: 0 13px 0 5px;
}
// btn__plus_or
.btn_ico, .btn {
	.btn__plus_or{
		@include sized-sprite($icons, i_plus-or);
	}
}

// promo
.promo{
	@extend %clr;
	// height: 29px;
	padding: 0 7px 0 10px;
	.promo__title{
		width: 142px;
		padding: 5px 0;
		float: left;
		font: 12px "Open Sans Bold", Arial, sans-serif;
		color: #627b89;
		vertical-align: top;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.promo__banner{
		width: 90px;
		height: 15px;
		padding: 1px;
		margin: 4px 0;
		background: #FFF;
		float: right;
		@include border-radius(1px);
		border: 1px solid #d4e3e7;
		opacity: 0.5;
		&:hover{
			opacity: 1;
			cursor: pointer;
		}
		img{
			vertical-align: top;
		}
	}
	.promo__notice{
		float: right;
		display: inline-block;
		margin-right: 4px;
	}
	.promo__link{
		display: inline-block;
		float: right;
		font-family:"Open Sans Bold";
		font-size: 10px;
		color: #cd8200;
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
// super-popup
.super-popup{
	position: relative;
	top: -100px;
	right: 385px;
	&:after{
		content:"";
		position: absolute;
		z-index: 1;
		top: 63px;
		right: -142px;
		@include rotate(45);
		width: 29px;
		height: 29px;
		background: #FFF;
		@include box-shadow(1px -1px 8px rgba(0,0,0,.3));
	}
	&:before{
		content:"";
		position: absolute;
		z-index: 1000;
		top: 57px;
		right: -144px;

		width: 0px;
		height: 0px;
		border-style: solid;
		border-width: 21px 0 21px 17px;
		border-color: transparent transparent transparent #fff;
	}
	.super-popup__cont{
		width: 339px;
		height: 209px;
		padding: 19px;
		background: #fff;
		border: 1px solid #b9d1d9;
		@include border-radius(4px 4px 4px 375px / 4px 4px 4px 5px);
		@include box-shadow(0 2px 8px rgba(0,0,0,.3));
		position: absolute;
		z-index: 400;
		.not_ok{
			position: absolute;
			bottom: 16px;
			left: 18px;
		}
		.i_ok{
			position: absolute;
			bottom: 16px;
			right: 21px;
		}
	}
	.super-popup__wrap{
		margin-right: -15px;
	}
	.super-popup__item{
		width: 105px;
		padding-left: 52px;
		line-height: 42px;
		margin-right: 15px;
		margin-bottom: 15px;
		display: inline-block;
		position: relative;
		border: 1px dashed #b9d1d9;
		@include border-radius(5px);
		background-color: #fff;
		font-family:"Open Sans Semibold";
		font-size: 14px;
		color: #bad1d9;
		&:after{
			content:"";
			display: inline-block;
			@include sized-sprite($icons, i_add);
			position: absolute;
			top: -6px;
			right: -6px;
		}
		&:hover{
			cursor: pointer;
		}
		i{
			position: absolute;
			left: 13px;
			top: 12px;
		}
	}
	.super-popup__item_active{
		border: 1px solid #bbd1d9;
		color: #627b89;
		&:after{
			content:"";
			display: inline-block;
			@include sized-sprite($icons, ok_small);
			position: absolute;
			top: -6px;
			right: -6px;
		}
	}
}
.super-popup__item{
	i{
		opacity: 0.5;
	}
}
.super-popup__item_active{
	i{
		opacity: 1;
	}
}
// choice
.choice{
	margin-right: 15px;
	display: inline-block;
	color: #6e8591;
	.choice__data{
		font-family:"Open Sans Bold";
		font-size: 16px;
	}
	.choice__desc{
		font-family:"Open Sans Semibold";
		font-size: 11px;
	}
}