@import "base";

/*  layout */
.l{
	overflow: hidden;
	margin-bottom: -3px;
	background: #edf3f5;
	.l-col1{
		overflow: hidden;
		margin: 10px;
	}
	.l-col2{
		float: right;
		width: 278px;
		margin: 10px 10px 0 10px;
		position: relative;
	}
}
.out{
	position: relative;
}