@import "base";

.clr{
	clear: both;
}
.fl_r{
	float: right;
}
.textAlign_center{
	text-align: center;
}
/********************* FOR PAGE POPUP_1 and POPUP_2 *********************************/
// button
.button{
	padding: 0 25px;
	height: 34px;
	line-height: 36px;
	border: 1px solid #7e8c95;
	@include border-radius(4px);
	font-family:"Open Sans Semibold", Arial, sans-serif;
	font-size: 14px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}
.button_gr{
	background: #91a1a9;
	&:hover{
		background: #8c989e;
	}
}
.button_bl{
	padding: 0 40px;
	background: #60baea;
	&:hover{
		background: #59a9d3;
	}
}
// popup
.popup{
	@extend %clr;
	width: 850px;
	padding: 0 25px 15px;
	position: absolute;
	top: 200px;
	left: 50%;
	margin-left: -450px;
	z-index: 100;
	border-radius: 4px;
	@include box-shadow(0 2px 20px rgba(0,0,0,.75));
	.button_bl{
		float: right;
	}
	.fl_r{
		float: right;
	}
}
.popup__top{
	width: 840px;
	margin-left: -25px;
	padding: 15px 30px 20px;
	background-color: #f3f3f3;
	border-radius: 3px 3px 0 0;
	box-shadow: inset 1px -2px -1px #c5c5c5;
	h2{
		font-family:"Open Sans Semibold", Arial, sans-serif;
		font-size: 26px;
		color: #4d5458;
		display: inline-block;
	}
}
// step
.step{
	overflow: hidden;
	float: right;
	.step__item{
		height: 27px;
		line-height: 27px;
		// padding: 0 8px;
		padding: 0 8px 0 18px;
		position: relative;
		float: left;
		background: #ececec;
		list-style: none;
		border-top: 1px solid #b4bdc3;
		border-bottom: 1px solid #b4bdc3;
		box-shadow: inset 0px 1px 0px #f6f6f6;
		&:first-child{
			padding: 0 8px 0 8px;
			border-left: 1px solid #b4bdc3;
			border-radius: 3px 0 0 3px;
			&.active{
				&:before{
					content: "";
					width: 0px;
					height: 0px;
					background: red;

				}
			}
		}
		&:last-child{
			border-right: 1px solid #b4bdc3;
			border-radius: 0px 3px 3px 0;
		}
		i{
			width: 18px;
			height: 18px;
			border-radius: 9px;
			margin-right: 20px;
			background: #60baea;
			display: inline-block;
			line-height: 18px;
			text-align: center;
			font-family:"Open Sans Semibold", Arial, sans-serif;
			font-style: normal;
			color: #FFF;
			border: 1px solid #509fc9;
		}
		span{
			margin-right: 15px;
		}
		em{
			width: 10px;
			height: 29px;
			// @include sized-sprite($icons, "Step_border");
			background: url(../images/icons/Step_border.png) 0px 0 no-repeat;
			display: inline-block;
			position: absolute;
			right: -10px;
			top: -1px;
			z-index: 1;
		}
	}
	.step__item_long{
		i{
			margin-right: 35px;
		}
		span{
			margin-right: 30px;
		}
	}
	.active{
		background: #60baea;
		border: 1px solid #4a9cc8;
		box-shadow: none;
		&:before{
			content: "";
			width: 9px;
			height: 29px;
			background: url(../images/icons/Step_border_act2.png) 0px 0 no-repeat;
			display: inline-block;
			position: absolute;
			left: 0px;
			top: -1px;
			z-index: 1;
		}
		i{
			background: #fff;
			color: #1a7891;
		}
		em{
			// @include sized-sprite($icons, "Step_border_act");
			background: url(../images/icons/Step_border_act.png) 0px 0 no-repeat;
			display: inline-block;
			position: absolute;
			right: -10px;
			top: -1px;
			z-index: 1;
		}
	}
}
// popup__cont
.popup__cont{
	border-radius: 3px;
	border: 1px solid #f0f1f2;
	margin-top: 35px;
	margin-bottom: 15px;
	position: relative;
	padding: 20px 0;
	.h3{
		padding: 0 10px;
		background: #fff;
		font-family:"Open Sans Semibold", Arial, sans-serif;
		font-size: 21px;
		color: #60baea;
		position: absolute;
		top: -13px;
		left: 25px;
	}
}
// comp
.comp{
	overflow: hidden;
	margin: 0 35px;
	padding: 10px 10px 10px 25px;
	background: #f8fafb;
	border-radius: 3px;
	border: 1px solid #dae3e6;
	.comp__desc{
		font-family:"Open Sans", Arial, sans-serif;
		font-size: 18px;
		line-height: 24px;
		color: #627b89;
	}
	.comp__number{
		float: right;
		padding: 5px;
		background: #edf3f5;
		border-radius: 3px;
		border: 1px solid #dae3e6;
		font-family:"Open Sans Semibold", Arial, sans-serif;
		font-size: 12px;
		color: #abb8be;
		font-style: normal;
	}
}
// tab
.tab{
	margin: 30px;
	.tab__top, .tab__cont{
		input[type="radio"]{
			display:none;
		}
		ul{
			list-style: none;
		}
	}
	.tab__top{
		@extend %clr;
		border-bottom: 1px solid #bad1d9;
		list-style: none;
		li{
			width: 368px;
			padding: 11px 10px;
			margin-bottom: -1px;
			float: left;
			background: #fff;
			border-radius: 3px 3px 0 0;
			border: 1px solid #bad1d9;
			border-bottom: 1px solid #bad1d9;
			color: #e5e9ea;
			&:last-child{
				margin-left: 8px;
			}
		}
		input[type="radio"] + label span{
			display:inline-block;
			width:18px;
			height:18px;
			margin:-1px 10px 0 0;
			vertical-align:middle;
			cursor:pointer;
			background: url(../images/icons/radio1.png) 0px 0 no-repeat;
		}
		.active{
			background: #f0f4f5;
			border-bottom: 1px dashed #bad1d9;
			color: #627b89;
			input[type="radio"] + label span{
				background: url(../images/icons/radio1_sel.png) 0px 0 no-repeat;
			}
		}
	}
	.tab__cont{
		@extend %clr;
		background: #f0f4f5;
		min-height: 170px;
		border-radius: 0 0 3px 3px;
		border-left: 1px solid #bad1d9;
		border-right: 1px solid #bad1d9;
		border-bottom: 1px solid #bad1d9;
		li{
			padding: 10px;
			background: #f5f7f7;
			border-bottom: 1px solid #bad1d9;
			label{
				font-family:"Open Sans Bold";
				font-size: 14px;
				color: #627b89;
			}
		}
		input[type="radio"] + label span{
			display:inline-block;
			width:16px;
			height:16px;
			margin:-1px 10px 0 0;
			vertical-align:middle;
			cursor:pointer;
			background: url(../images/icons/radio2.png) 0px 0 no-repeat;
		}
		.active{
			background: #edf3f5;
			border-bottom: 1px dashed #bad1d9;
			color: #627b89;
			input[type="radio"] + label span{
				background: url(../images/icons/radio2_sel.png) 0px 0 no-repeat;
			}
		}
		.tab__number{
			margin-right: 25px;
			float: right;
			font-family:"Open Sans";
			font-size: 12px;
			color: #627b89;
		}
	}
}
// period
.wrap-period{
	padding: 30px 44px 20px;
	.period_active{
		background: #fafafa;
		position: relative;
		border: 2px solid #a6cc3d;
		color: #4d5458;
		&:after{
			content: "";
			width: 27px;
			height: 27px;
			background: url(../images/icons/Ok.png) 0px 0 no-repeat;
			position: absolute;
			top: -15px;
			right: -8px;
		}
	}
}
.period{
	width: 350px;
	height: 130px;
	float: left;
	border: 1px dashed #d9d9d9;
	border-radius: 5px;
	color: #a8a8a8;
	text-align: center;
	&:hover{
		cursor: pointer;
	}
	.period__top{
		font-family:"Open Sans Bold";
		font-size: 22px;
		border-bottom: 1px solid #d9d9d9;
		padding: 9px 0;
	}
	.period__cont{
		padding: 10px 0;
		font-family:"Open Sans Semibold";
	}
	.period__season{
		margin-bottom: 12px;
		font-size: 24px;
	}
	.period__age{
		font-size: 16px;
		color: #ababab;
	}
	.period__other{
		padding: 38px 0;
		font-family:"Open Sans Bold";
		font-size: 20px;
	}
	.period__ico{
		width: 49px;
		height: 49px;
		margin-right: 30px;
		background: url(../images/icons/Period__ico.png) 0px 0 no-repeat;
		display: inline-block;
		vertical-align: middle;
	}
}
.period_small{
	height: auto;
	.period__other{
		padding: 23px 0;
	}
}
.period__desc{
	margin-top: 25px;
	font-family:"Open Sans Semibold";
	font-size: 14px;
	color: #999;
	text-align: center;
}

/********************* FOR PAGE NOTICE *********************************/
// category
.category{
	.category__selected_orange{
		border-left: 3px solid #f3b140
	}
}
// menu_notice
.menu_notice{
	li{
		position: relative;
		padding-right: 30px;
		&:before{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 22px 0 22px 15px;
			border-color: transparent transparent transparent #f5f5f5;
			position: absolute;
			right: 1px;
			top: 0;
			z-index: 100;
		}
		&:after{
			content: "";
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 22px 0 22px 15px;
			border-color: transparent transparent transparent #bad1d9;
			position: absolute;
			right: 0;
			top: 0;
			z-index: 1;
		}
	}
}
// FOR position ico
.size__item{
	position: relative;
	.i_refresh, .i_close, .i_load{
		position: absolute;
		top: 4px;
		right: 4px;
	}
	.i_arr{
		position: absolute;
		top: 8px;
		right: -10px;
	}
}
// FOR position ico
.diagram{
	.i_help{
		position: absolute;
		top: 0;
		right: 0;
	}
}
// FOR position blocks
.desc__cont_mod{
	.big{
		display: inline-block;
	}
}
// FOR position blocks
.supertable__label{
	.ii_circle{
		position: absolute;
		bottom: -3px;
		left: 11px;
	}
	.ii_arr-green{
		position: absolute;
		bottom: 0px;
		left: 13px;
	}
	.ii_square-or{
		position: absolute;
		bottom: -3px;
		left: 13px;
	}
}

