@import "base";

.supertable{
	width: 100%;
	padding-bottom: 10px;
	min-width: 800px;
	font-size: 12px;
	font-family: "Open Sans", Arial, sans-serif;
	color: #627b89;
	overflow: hidden;
	min-width: 630px + 201px + 171px;
	table{
		border-collapse: collapse;
		border-spacing: 0;
	}
	.supertable__left{
		position: absolute;
		top: 0;
		left: 0;
		width: 201px;
	}
	.supertable__right{
		position: absolute;
		top: 0;
		right: 0;
		width: 171px;
		font-weight: bold;
		td{
			width: 85px;
			font-size: 11px;
		}
	}
	.supertable__center-wrap{
		width: 100%;
		overflow: hidden;
	}

	.supertable__center-in{
		//width: 30000px;
	}
	.supertable__center{
		table{
			table-layout: fixed;
			width: 100%;
			.supertable__month td{
				width: auto !important;
			}
		}
	}
	.supertable__bottom{
		box-shadow:0 -10px 10px -10px rgba(#000, .3);
		position: relative;
		.supertable__center{
			table{
				table-layout: fixed;
				td{
					width: auto  !important;
				}
			}
		}
		td{
			background: #fff !important;
		}
		b{
			font-weight: bold;
		}
	}
	.supertable__bottom_alt{
		height: 58px;
		bottom:60px;
		overflow: hidden;
		background: #fff;
		border: 1px solid #bad1d9;
		border-radius: 0px 0px 4px 4px;
		.supertable__left{
			width: 330px;
			td{
				padding: 14px 0px 11px 0px;
				border-bottom: 1px solid #bad1d9;
				border-left: 1px solid #bad1d9;
			}
			.table-left__wrap{
				width: 220px;
				padding: 0 15px;
				div{
					width: 30px;
					height: 30px;
					margin-right: 7px;
					background: red;
					display: inline-block;
				}
				.i_play, .i_stop, .i_wtf, .i_cross{
					margin-right: 4px;
				}
			}
			.reset_pad{
				padding: 0;
			}
			table{
				width: 100%;
			}
			.table-left__desc{
				td{
					padding: 0;
					border: 0;
				}
			}
			.table-left__title{
				padding: 0 10px;
				font-family:"Open Sans Semibold";
				font-size: 13px;
				color: #627b89;
				line-height: 28px;
				height: 28px;
				overflow: hidden;
			}
			.table-left__title_border{
				font-family: "Open Sans Bold";
				border-top: 1px solid #dae3e6;
			}

		}
		.supertable__right{
			width: 378px;
			margin-right: -2px;
			border-left: 1px solid #bad1d9;
			tr{
				height: 28px;
			}
			td{
				width: 93px;
			}
		}
	}
	.supertable__itogo{
		*{
			font-weight: bold;
		}
	}
	.supertable__wrapper .supertable__center{
		table td{
			width: auto !important;
		}
	}
	.supertable__center{
		margin: 0 170px 0 200px;
		min-width: 600px;
	}
	.supertable__checkbox{
		width: 36px;
		display: inline-block;
		cursor: pointer;
		.supertable__checkbox-in{
			display: inline;
			position: relative;
		}
		input{
			width: 15px;
			height: 15px;
			opacity: 0;
			vertical-align: middle;
			position: relative;
			z-index: 2;
			cursor: pointer;
		}
			input:checked + i{
					@include sized-sprite($icons, input_checked_ico);
				}
		i{
			position: absolute;
			@include sized-sprite($icons, input_ico);
			left: 0;
			top: 0;
			line-height: 16px;
		}
	}
	.supertable__mark{
		color: #4d9b44;
	}
	.supertable__sort-by{
		cursor: pointer;
		&:hover{
			text-decoration: underline;
		}
	}
	.supertable__title{
		position: relative;
		width: 151px;
		height: 59px;
		text-align: left;
		font-weight: bold;
		color: #4a9cc8;
		padding-left: 11px;
		font-size: 16px;
		.supertable__arr-up2{
			position: absolute;
			top: 20px;
			right: 20px;
			cursor: pointer;
			@include sized-sprite($icons, st_arr_up2);

		}
		.supertable__arr-down2{
			position: absolute;
			top: 32px;
			right: 20px;
			cursor: pointer;
			@include sized-sprite($icons, st_arr_down2);
		}
	}
	.supertable__pagination_right{
		width: 30px;
		position: absolute;
		top: 5px;
		right: 172px;
		height: 97%;
		background: #fff;
		@include opacity(.4);
		cursor: pointer;
		&:hover{
			@include opacity(.6);
		}
		i{
			@include sized-sprite($icons, st_global_right);
			position: absolute;
			top: 50%;
			margin-top: -11px;
			right: 5px;
			content: "";
			cursor: pointer;
		}
	}
	.supertable__pagination_left{
		width: 40px;
		position: absolute;
		top: 5px;
		left: 201px;
		height: 97%;
		background: #fff;
		@include opacity(.4);
		cursor: pointer;
		&:hover{
			@include opacity(.6);
		}
		i{
			@include sized-sprite($icons, st_global_left);
			position: absolute;
			top: 50%;
			margin-top: -11px;
			left: 15px;
			content: "";
			cursor: pointer;
		}
	}

//top row
.supertable__topper{
	background: #fff;
	display: block;
	width: 100%;
	position: relative;
	@include box-shadow(0px 6px 12px -6px rgba(131, 131, 131, 0.60));
	z-index: 1;
	td {
		text-align: center;
		font-size: 12px;
	}
	.supertable__year{
		background: url(../images/supertable_bg.png);
		font-size: 12px;
		font-weight: bold;
		color: #90a2ab;
	}
	.supertable__month{
		td{
			width: 159px;
			font-size: 14px;
			font-weight: bold;
		}
	}

	.supertable__raw{
		td {
			height: 59px;
		}
	}

	.supertable__center{
		td {
			border: 1px solid #d0d8df;
			line-height: 29px;
			text-align: center;
			background-color: #fff;
		}
	}
	.supertable__left{
		background: #fff;
		td {
			border: 1px solid #d0d8df;
			line-height: 59px;
			text-align: center;
		}
		td:first-child{
			cursor: pointer !important;
		}
	}
	.supertable__right{
		background: #fff;
		border-bottom: 1px solid #d0d8df;
		td {
			border: 1px solid #d0d8df;
			line-height: 59px;
			text-align: center;
			color: #4a9cc8;
			border-bottom: none;

		}
		.supertable__right-col1,
		.supertable__right-col2{
			position: relative;
			text-align: left;
			padding-left: 5px;
			width: 80px;
		}
		.supertable__arr-up{
			position: absolute;
			top: 23px;
			right: 5px;
			cursor: pointer;
			@include sized-sprite($icons, st_arr_up);

		}
		.supertable__arr-down{
			position: absolute;
			top: 32px;
			right: 5px;
			cursor: pointer;
			@include sized-sprite($icons, st_arr_down);
		}
	}
}


//content row
.supertable__content{
	position: relative;
	display: block;
	-ms-overflow-y: scroll;
	overflow-y: scroll;
	background: #fafcfc;
	tr:nth-child(even) td{
		background: #fafcfc;
	}

	td{
		background: #f5f7f7;
	}
	td {
		border: 1px solid #d0d8df;
		border-top: none;
		line-height: 29px;
		text-align: center;
	}
	.supertable__left{
		width: 201px;
		.t__col2{
			width: 165px;
			font-weight: bold;
			padding-left: 11px;
			text-align: left;
			white-space: nowrap;
			overflow: hidden;
			-ms-text-overflow: ellipsis;
			text-overflow: ellipsis;
			div{
				white-space: nowrap;
				overflow: hidden;
				-ms-text-overflow: ellipsis;
				text-overflow: ellipsis;
			}
		}
	}
	.supertable__right{
		width: 171px;
	}
	.supertable__center{
		position: relative;
		min-width: 300px;
		margin: 0 170px 0 200px;
		td{
			width: 159px;
		}
	}
}



//baron-scroller
.supertable__wrapper {
    display: inline-block;
    vertical-align: bottom;
    position: relative;
    overflow: hidden;
    height: 245px;
    width: 100%;
	border-top: 1px solid #d0d8df;
	border-bottom: 1px solid #d0d8df;
}
	.supertable__scroller {
	    height: 100%;
	    overflow-y: scroll;
	    -webkit-overflow-scrolling: touch;
	}
	.supertable__scroller::-webkit-scrollbar {
	    width: 0;
	}
	.scroller__bar-wrapper {
		display: none;
	    position: absolute;
	    z-index: 1;
	    top: 10px;
	    bottom: 10px;
	    right: 5px;
	    width: 8px;
	    border-radius: 5px;
	    background: #ddf;
	    background: rgba(0, 0, 0, .13);
	}
	.scroller__bar {
		cursor: pointer;
	    position: absolute;
	    z-index: 1;
	    width: 6px;
	    min-height: 40px;
	    -webkit-transition: width .2s linear;
	    transition: width .2s linear;
	    @include background-image(linear-gradient(bottom, #60b4e1 0%, #5fbaeb 100%));
		@include opacity(.3);
		border: 1px solid #428eb7;
		@include border-radius(4px);
	}
	.scroller__bar:hover {
	    opacity: .8;
	}
	.supertable__baron .scroller__bar-wrapper {
	    display: block;
	}

	.supertable__content {
	    overflow: hidden;
	}
}

//////////////////////// ALT STYLES FOT SUPERTABLE //////////////////
.table-inf{
	border: 1px solid #b9d1d9;
	@include border-radius(4px 4px 0 0);
	background-color: #f5f5f5;
}
// supertable_alt
.supertable_alt{
	min-width: auto;
	.supertable__wrapper{
		height: 276px;
	}
	.supertable__right_alt{
		position: static;
		float: right;
	}
}
// ALT supertable
.supertable{
	.supertable__center_alt{
		margin: 0 170px 0 74px;
		min-width: 266px;
	}
	.supertable__left_inCampain{
		width: auto;
	}
	.supertable__label{
		width: 36px;
		display: inline-block;
		position: relative;
	}
}
// supertable_alt
.supertable_alt{
	.supertable__right{
		width: auto;
	}
	.supertable__bottom_alt {
		.supertable__left_alt{
			width: auto;
			position: static;
			overflow: hidden;
			table{
				margin-left: -1px;
			}
		}
	}
	.supertable__content {
		.supertable__left{
			width: auto;
			.supertable__checkbox{
				box-shadow: 9px 0px 10px -10px rgba(0, 0, 0, 0.3) inset;
			}
		}
	}
	.supertable__topper {
		.supertable__right {
			.supertable__right-col1,
			.supertable__right-col2{
				width: auto;
				padding: 0 28px 0 10px;
				.supertable__sort-by{
					font-family:"Open Sans Semibold";
					font-size: 13px;
					color: #5a707d;
				}
			}
		}
	}
	.supertable__title{
		height: 38px;
		font-size: 14px;
	}
	.supertable__topper {
		.supertable__raw {
			td{
				height: 38px;
			}
		}
		.supertable__center, .supertable__left, .supertable__right{
			td{
				line-height: 38px;
			}
			.supertable__arr-up{
				top: 10px;
			}
			.supertable__arr-down{
				top: 19px;
			}
		}
	}
	.supertable__content {
		.supertable__center{
			// width: 256px;
			min-width: auto;
			margin: 0 377px 0 75px;
		}
		td{
			line-height: 28px;
			font-weight: normal;
			font-size: 12px;
		}
		.supertable__right{
			width: 378px;
			table{
				width: 378px;
				tr{
					height: 28px;
					line-height: 28px;
					&:last-child{
						height: 43px;
						line-height: 43px;
					}
				}

			}
			.table-right__rejected{
				font: 12px "Open Sans Semibold",  Arial, sans-serif;
				line-height: 28px;
			}
		}
	}
	.supertable__wrapper {
		border-bottom: 0;
		.supertable__center{
			table {
				td{
					height: 28px;
					border-left: 0;
				}
			}
		}
	}
	.supertable__right{
		table{
			width: 100%;
		}
	}
	.table-right__title{
		font-family:"Open Sans";
		font-size: 13px;
		font-weight: normal;
		text-align: center;
		line-height: 28px;
		border-right: 1px solid #bad1d9;

	}
	.table-right__title_bt{
		font-family:"Open Sans Bold";
		font-size: 13px;
		border-top: 1px solid #bad1d9;
	}
}
// select
.select{
	height: 32px;
	line-height: 32px;
	padding: 0 15px;
	display: inline-block;
	background: #fff;
	border: 1px solid #b9d1d9;
	@include border-radius(4px);
	font-family:"Open Sans Bold";
	font-size: 18px;
	color: #627b89;
	&:active{
		background: #d0d3d5;
	}
	&:hover{
		cursor: pointer;
	}
	.select__meta{
		margin-right: 35px;
	}
}


// supertable-last
.supertable-last{
	height: 43px;
	.supertable__checkbox{
		height: 43px;
		color: transparent;
	}
}
// sizing for table
.check-all-wrap__big{
	width: 113px;
}
.check-all-wrap__big_alt{
	width: 113px;
}
.check-all-wrap__2{
	width: 105px;
}
.check-all-wrap__3{
	width: 63px;
}
.check-all-wrap__4{
	width: 92px;
}
